extends layout

block content
    script(src='../scripts/admin.js')
    .post-panel
        form(method='post', action='/addpost')
            input#title(name='title', type='text', placeholder='Заголовок')
            br
            input#short(name='short', type='text', placeholder='Краткое описание')
            br
            textarea#posttext(name='posttext', placeholder='Текст', rows='10')
            br
            select#postType(name='postType')
                option People
                option Games
                option Comics
                option Life
                option Other
            br
            input#imageUrl(name='imageUrl', type='text', placeholder='Картинка')
            br
			input#author(name='author', type='text', placeholder='Автор')
            br
            button(type='submit') Ввод
            br