doctype html
html
    head
        meta(charset='utf-8')
        title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='stylesheets/hexagons.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/main.css')
        link(href='https://fonts.googleapis.com/css?family=Raleway:300', rel='stylesheet', type='text/css')
  body
    block content
