extends layout

block content
    .grid
        .grid-item.grid-item1.left
        .grid-item.grid-item2
            .imgCenter
                .imgCenter(style='background-image: url(#{post[n-1].url});')
            #post-content
                != post[n-1].text
            #disqus_thread
        .grid-item.grid-item3.right
        script(src="../scripts/disqus.js")