extends layout

block content
    .header
    .grid
        .grid-item.grid-item1.left
        .grid-item.grid-item2
            img.image(src=post[n-1].url)
            .post-container-text
                pre.text= post[n-1].text
            #disqus_thread
        .grid-item.grid-item3.right
        script(src="scripts/disqus.js")