.login-panel{
	font-family: "PT Sans Narrow";
	width: 20vw;
    height: 18vh;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    border: solid #1aa3ff 3px;
}

.login-panel > input{
	font-size: 20px;
	font-family: "PT Sans Narrow";
	width: 18vw;
	height: 3vh;
	margin-top: 1vh;
	margin-left: 1vw;
    margin-bottom: 1vh;
}

.post-panel{
	font-family: "PT Sans Narrow";
	width: 40vw;
    height: 40vh;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    border: solid #1aa3ff 3px;
}

.post-panel input, textarea{
	font-size: 20px;
	font-family: "PT Sans Narrow";
	width: 38vw;
	height: 3vh;
	margin-top: 1vh;
	margin-left: 1vw;
    margin-bottom: 1vh;
}