body{
	font-family: "PT Sans Narrow";
	font-size: medium;
}

.header{
	background: url("../static/h2.png");
	background-size: contain;
	background-repeat:no-repeat;
	height: 25vh;
	cursor: pointer;
}

.image{
	width: 70%;
	height: auto;
	max-height: 60vh;
}

.grid{
	display: grid;
	margin-top: 5vh;	
	grid-template-columns: 15% 1fr 15%;
	grid-template-rows: min(60vh);
}
.left{
	background: url("../static/l.png");
	background-repeat: repeat-y;
}

.right{
	background: url("../static/r.png");
	background-repeat: repeat-y;
	background-position: right top;
}

.text p, ul{
	font-family: "PT Sans Narrow";
	font-size: 20px; 
	white-space: pre-wrap;
    padding-left: 20%;
    padding-right: 20%;
}

.imgCenter{
	color: white;
	font-size: 2vw;
	vertical-align: middle;
	text-align: center;
	margin-left: 15%;
	float: left;
	background-size: 100%;
	width: 70%;
	text-align: center;
	height: 50vh;
	background-repeat: no-repeat;
}

iframe{
	float: left;
	margin-left: 15%;
	margin-bottom: 1vh;
	height: 50vh;
	width: 70%;
}

.text ul{
	margin-left: 1vw;
	margin-bottom: -2vh;
}