body{
	font-family: "PT Sans Narrow";
	font-size: medium;
}

.header{
	background: url("../static/h2.png");
	background-size: contain;
	background-repeat:no-repeat;
	height: 25vh;
	cursor: pointer;
}

.image{
	max-width: 100%;
	height: auto;
}

.grid{
	display: grid;
	margin-top: 5vh;	
	grid-template-columns: 15% 1fr 15%;
	grid-template-rows: min(60vh);
}
.left{
	background: url("../static/l.png");
	background-repeat: repeat-y;
}

.right{
	background: url("../static/r.png");
	background-repeat: repeat-y;
	background-position: right top;
}

.text{
	font-family: "PT Sans Narrow";
	font-size: 20px; 
	white-space: pre-wrap;
    padding-left: 15%;
    padding-right: 15%;
}

.imgCenter{
	text-align: center;
}

iframe{
	float: left;
	margin-left: 10%;
	margin-bottom: 1vh;
	height: 30vw;
	width: 80%;
}

li{
	margin: 0px;
}