/*.container {
	padding-right: 15vw;
	padding-left: 15vw;
	margin-right: auto;
	margin-left: auto
}

.col-left{
	width: 20%;
	background: url("static/gex.png");
}

.col-left{
	float: left;
	width: 15%;
	display: block;
	margin: 0px auto;
	background: url("static/gex.png");
}
.col-center{
	display: inline-block;
	width: 70%;
}
.col-right{
	float: right;
	width: 15%;
	display: block;
	margin: 0px auto;
	background: url("static/gex.png");
}*/

.container {
    width: 954px;
    margin: 0px auto;
    height: 100%;
    border: 1px solid lime;
    overflow: hidden;
    position: relative;
	text-align: center;
}

.col-left {
    margin: 0px auto;
    width: 5px;
    border: 1px solid red;
    float: left;
    display: block;
}

.col-right {
    margin: 0px auto;
width: 5px;
float: left;
border: 1px solid blue;
}

.col-center {
    width: 920px;
    margin: 0px auto;
    text-align: left;
    background: #ffffff;
    padding: 0px 10px;
    float: left;
}

.header{
	background: url("static/h2.png");
	background-size: contain;
	height: 25vh;
	margin-bottom: 5vh;	
}

.image{
	max-width: 100%;
	height: auto;
}